/**
 * @file
 * This file is used to style fields with class 'label-items' eg: Recipe
 * category.
 */

.label-items {
  margin-bottom: 1.2em;

  .field__items {
    display: flex;
    flex-wrap: wrap;
  }

  .field__label, .field__item {
    padding-right: 0.6rem;
  }
}
