/**
 * @file
 * This file is used to style the 'Promoted Items' view.
 */

.view-promoted-items--single {
  display: grid;
  gap: 14px;
  padding-block: 1rem 2rem;
}

/* Small */
@media screen and (min-width: 30rem) {
  /* 480px */

  .view-promoted-items--single {
    padding-block: 2rem 3rem;
  }
}

/* Large */
@media screen and (min-width: 60rem) {
  /* 960px */

  .view-promoted-items--single {
    grid-template-columns: repeat(2, 1fr);
  }
}

.view-promoted-items--double .view-content {
  display: grid;
  gap: 14px;
}

/* Small */
@media screen and (min-width: 30rem) {
  /* 480px */

  .view-promoted-items--double .view-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.view-promoted-items--single {
  .attachment-after, .views-element-container {
    block-size: 100%;
  }
}

.view-promoted-items--double {
  block-size: 100%;

  .view-content, .forcontu_umami-card {
    block-size: 100%;
  }
}
