<{{ html_tag|default('article') }}{{ attributes.addClass('forcontu_umami-card') }}>
  <div class="forcontu_umami-card__wrapper">
    {% block content %}{% endblock %}
  </div>
</{{ html_tag|default('article') }}>
