/**
 * @file
 * This file is used to style the 'Articles Aside' view.
 */

.block-views-blockarticles-aside-block-1 {
  > .block__title {
    margin: 0 0 1.562rem;
  }

  .views-row {
    margin-bottom: 1.562rem;
  }
}
