/**
 * @file
 * This file is used to style form buttons generically, with overrides per form
 */

.button {
  display: inline-block;
  min-width: inherit;
  max-width: inherit;
  margin: 0;
  padding: 0.7rem 1.3rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #008068;
  border-radius: 3px;
  background-color: #008068;
  font-family: "Scope One", Georgia, serif;
  font-size: 1.2rem;

  &:hover, &:active, &:focus {
    transition: background-color 0.5s ease;
    text-decoration: none;
    color: #000;
    background-color: #e6eee0;
  }
}

.button--primary {
  border-color: #d93760;
  background-color: #d93760;

  &:hover, &:active, &:focus {
    outline-color: #fff;
    outline-offset: 2px;
    background-color: #fcece7;
  }
}

.button[disabled] {
  &:hover, &:active, &:focus {
    cursor: default;
    color: #464646;
    background: #767775;
  }

  cursor: default;
  color: #464646;
  background: #767775;
}

.form-actions {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
  padding: 0.75rem 0;

  > {
    .button, .form-wrapper {
      margin: 0.5rem;
      line-height: normal;
    }
  }
}

@media screen and (min-width: 77em) {
  .form-actions {
    margin: 1rem -0.5rem;
    padding: 0;
  }
}
