/**
 * @file
 * This file is used to style the content moderation form.
 */

.entity-moderation-form {
  padding-top: 0.5em;
  padding-right: 1em;

  .form-item, .form-submit {
    margin: 0.5em 0;
  }
}

.entity-moderation-form__item {
  .form-text, &:last-child {
    width: 100%;
  }
}

.entity-moderation-form input[type="submit"] {
  margin-bottom: 1em;
}
