/**
 * @file
 * Visual styles for tabs.
 */

.tabs.primary {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none;
}

.tabs__tab {
  margin: 0;

  /* LTR */
  background-color: #e6eee0;

  &.is-active {
    background-color: #fff;
  }
}

.tabs__link {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: inherit;
  background-color: inherit;

  &.is-active {
    background-color: inherit;
  }

  &:focus, &:hover {
    outline-offset: -5px;
    background-color: #fff;
  }
}
